/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 4.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --main-color: hsl(234, 76%, 20%);
    --gray-color: hsl(222, 22%, 58%);
    --blue-color: hsl(256, 82%, 49%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins', sans-serif;

    --biggest-font-size: 2rem;
    --h1-font-size: 1.6rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== z index ==========*/
    --z-back: -1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--main-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1124px;
    margin: 0 1.5rem;
}

.grid {
    display: grid;
}

.section {
    padding: 4.5rem 0;
}

.section-title {
    text-transform: capitalize;
    font-size: var(--h1-font-size);
}

.main {
    overflow: hidden;
}

/* === BUTTONS === */
.btn-primary {
    background: var(--blue-color);
    color: hsl(0, 0%, 100%);
}

.btn-primary:hover {
    background-color: hsl(256, 82%, 45%);
}

.btn-secondary {
    background: hsl(227, 41%, 93%);
    color: var(--main-color);
}

.btn-secondary:hover {
    background: var(--blue-color);
    color: hsl(0, 0%, 100%);
}

.btn-link {
    color: var(--main-color);
    text-decoration: underline var(--main-color);
}

.btn-link:hover {
    text-decoration: none;
}

/*=============== HEADER ===============*/
.header {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: var(--z-fixed);
    background-color: hsl(0, 0%, 100%);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
}

.nav__logo img {
    max-width: 44px;
}


@media screen and (max-width: 1023px) {
    .nav__menu {
        position: absolute;
        padding-bottom: .5rem;
        top: 100%;
        transform: scaleY(0);
        transform-origin: top;
        left: 0;
        width: 100%;
        border-radius: 0 0 1rem 1rem;
        box-shadow: 0 5px 5px hsla(234, 76%, 20%, .1);
        transition: .3s;
        background-color: hsl(0, 0%, 100%);
    }

    .nav__item {
        width: 100%;
        padding: .5rem 1.5rem;
    }

    .nav__link {
        color: var(--main-color);
    }
}

.nav__link:hover {
    color: var(--blue-color);
}

.nav__buttons {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.nav__toggle {
    font-size: var(--h2-font-size);
    cursor: pointer;
}

.nav__toggle:hover {
    color: var(--blue-color);
}

.nav__btn {
    padding: .5rem 1rem;
    border-radius: 2.5rem;
    font-size: var(--small-font-size);
}

/* === ACTIVE MENU === */
.active-menu {
    transform: scaleY(1);
    transform-origin: bottom;
}

/*=============== HOME ===============*/
.home {
    height: calc(100vh - var(--header-height));
    place-items: center;
}

.home__title {
    font-size: var(--biggest-font-size);
    margin-bottom: 1.25rem;
}

.home__description {
    margin-bottom: 3.5rem;
}

.home__buttons {
    display: flex;
    flex-direction: column;
    row-gap: .85rem;
    align-items: center;
}

.home__btn {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: .5rem 0;
    border-radius: 2.5rem;
}

.mouse-scroll {
    position: absolute;
    left: 50%;
    bottom: 1.5rem;
    font-size: var(--h1-font-size);
    cursor: pointer;
    color: var(--main-color);
    animation: scroll-down 1.5s infinite alternate;
}

@keyframes scroll-down {
    0% {
        transform: translate(-50%, 0);
    }

    100% {
        transform: translate(-50%, 5px);
    }
}

/*=============== STEPS ===============*/
.steps__title {
    text-align: center;
}

.steps__cards {
    margin-block: 1rem;
    row-gap: 1.5rem;
}

.steps__card {
    background-color: hsl(230, 100%, 99%);
    border-radius: .5rem;
    padding: 1rem;
}

.steps__card-icon {
    background-color: hsl(240, 70%, 91%);
    display: inline-block;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.steps__card-desc {
    max-width: 24ch;
    margin-top: .5rem;
}


/*=============== DISCOVER ===============*/
.discover__cards {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(160px, 1fr);
    overflow-x: auto;
    margin-block: 1.5rem;
    column-gap: 1.5rem;
    /* // Hide ScrollBar */
    /* FIREFOX */
    scrollbar-width: none;
}

.discover__cards::-webkit-scrollbar {
    /* CHROME & SAFARI */
    display: none;
}

.discover__card {
    position: relative;
    border-radius: .8rem;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discover__card:hover {
    border: 2px solid var(--main-color);
}

.discover__card>img {
    transition: .3s;
    border-radius: .8rem;
}

.discover__card:hover>img {
    transform: scale(.9);
}

.discover__card-overlay {
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, .3);
    border-radius: .8rem;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: hsl(0, 0%, 100%);
    padding: 1rem;
    gap: 1rem;
    transition: .3s;
    transform: scale(0);
}

.discover__card:hover .discover__card-overlay {
    /* opacity: 1; */
    transform: scale(.9);
}

.discover__card-icon {
    width: 55px;
    align-self: center;
}

.discover__card-name {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
}

.discover__card-plat {
    opacity: .8;
}

.discover__infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    margin-block-start: 3rem;
    margin-block-end: 1.5rem;
}

.discover__info-title {
    font-size: var(--h2-font-size);
}

.discover__info-desc {
    color: var(--gray-color);
}

/*=============== STORY ===============*/
.story__desc {
    margin-block-start: 1rem;
    margin-block-end: 2rem;
}

.story__btn {
    display: block;
    text-align: center;
    padding-block: .5rem;
    border-radius: 2.5rem;
}

/*=============== FOOTER ===============*/
.footer__container {
    row-gap: 3rem;
}

.footer__about {
    text-align: center;
}

.footer__logo img {
    max-width: 44px;
}

.footer__description {
    margin-block: 1rem;
}

.footer__content,
.footer__list {
    display: grid;
}

.footer__content {
    grid-template-columns: repeat(2, max-content);
    gap: 3.5rem 0;
}

.footer__title {
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
}

.footer__list {
    row-gap: .75rem;
}


.footer__link {
    color: var(--main-color);
    transition: .3s;
}

.footer__link:hover {
    text-decoration: underline;
    color: var(--blue-color);
}

.footer__info {
    margin-top: 6rem;
    text-align: center;
}

.footer__copy {
    font-size: var(--smaller-font-size);
}

.footer__copy-link {
    color: var(--blue-color);
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: .125rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .65rem;
    border-radius: .5rem;
    background-color: hsla(234, 76%, 20%, .2);
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: hsl(234, 76%, 20%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(234, 76%, 30%);
}

/*=============== SCROLL UP ===============*/
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -30%;
    box-shadow: 0 8px 10px hsla(234, 76%, 20%, .1);
    background-color: hsl(0, 0%, 100%);
    border-radius: .5rem;
    display: inline-flex;
    padding: .35rem;
    color: var(--text-color);
    font-size: var(--h2-font-size);
    z-index: var(--z-tooltip);
    transition: .3s;
}

.scrollup:hover {
    transform: translateY(-.25rem);
}

/* Show Scroll Up*/
.show-scroll {
    bottom: 3.5rem;
}